@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }


html{
    box-sizing: border-box;
    -moz-text-size-adjust: 100%
    -ms-text-size-adjust: 100%
    -webkit-text-size-adjust: 100%
    text-size-adjust: 100%
    font: normal 100%/1.5 "Montserrat",sans-serif;
  }

*, *::before, *::after {
  box-sizing: inherit;

}

html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
}

header {
  background-size: 100%;
  background-repeat: no-repeat;
  background-color: black;
  padding: 1.5em 0;
  text-align: center;
  color: white;
  display: block;

}

p {
  padding: 10px 2em;
  font-family: "Montserrat",sans-serif;
  text-align: center;
}

main {
  text-align: center;
}

h1 {
  font-family: "Pacifico",cursive;
  colour:
  text-align: center;
  font-size: 2.2em;
}

h2 {
  font-family: "Pacifico",cursive;
  colour:
  text-align: center;
  font-size: 1.8em;
}

div {
  font-family:"Montserrat" sans-serif;
}
article {
  text-align: left;
  padding: 10px 2em;

}

footer{
  text-align: center;
}
